<h2> Your Cart </h2>


  
<%= render :partial => "line_items/line_item", :collection => cart.line_items %>

<div class="table_responsive">
<table class="table">

<tr class="info">
    <td> Total </td>
    <td> <%= number_to_currency(cart.total_price) %> </td>
</tr>

</table>
</div>
<%= button_to 'Empty cart me' , cart , method: :delete , 
    date: { confirm: 'Are you sure?' } %>
