<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div class="table-responsive">          
<table class="table">
  <thead>
    <tr class="active">
      <th>Quantity</th>
      <th> Product Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody>


    <%= render @cart %>


  <tr class="info">
      <td><%= link_to 'Edit', edit_cart_path(@cart) %> </td>
      <td><%= link_to 'Back', carts_path %></td>       
      <td><%= button_to 'Empty Cart' ,  @cart , method: :delete  ,   data:   { confirm: 'Are you sure?' } %> </td> 
  </tr>
    
    
      <tr class="info">
      <td> GRAND TOTAL:</td>
      <td><%=  number_to_currency(@cart.total_price) %> </td>
  </tr>

  </tbody>
</table>

</div> <!-- close table responsive -->
