	// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

/*Global Styles*/
body {
	font-family: 'Marmelad', Arial, Helvetica, sans-serif;
	background-color: #f1f0e9;
	overflow: hidden;
	padding: 0;
}
h1, h2, h3 {
	font-family: 'Marmelad', Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
p {
	font: 1em 'PT Sans', Arial, Helvetica, sans-serif;
	text-align: justify;
}
a {
	outline: none !important;
}
.table {
	display: table;
	width: 100%;
	background: none;
}
.table-cell {
	display: table-cell !important;
	vertical-align: middle !important;
}
embed, object, iframe{max-width: 100%;}

/*Clearfix*/
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
*:first-child+html .group { zoom: 1; } /* IE7 */
.clear {
	clear: both;
}

/*Intro*/
.intro-title {
	position: fixed;
	width: 100%;
	max-width: 430px;
	height: 330px;
	padding: 42px 18px 25px 18px;
	background-color: rgba(82,51,70,0.9);
	left: 65px;
	top: 42%;
	margin-top: -165px;
}
.ie8 .intro-title {
	background-color: rgb(82,51,70);
}
.intro-title h1 {
	color: #fff;
	font-size: 4.2em;
	text-transform: uppercase;
	text-align: left;
	line-height: 1.2;
	margin-bottom: 20px;
}

/*Social Bar*/
.social-bar {
	width: 100%;
}
.social-bar a {
	display: inline-block;
	margin-right: 11px;
	font-size: 2.15em;
	text-decoration: none;
	color: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: opacity 350ms ease;
	-moz-transition: opacity 350ms ease;
	-o-transition: opacity 350ms ease;
	transition: opacity 350ms ease;
}
.social-bar a:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/*Intro Fullscreen Slideshow*/
.intro-slideshow {
	position: fixed;
	width: 100%;
	height: auto;
	min-height: 100%;
	z-index: -100;
	top: 0;
	left: 0;
	overflow: hidden;
}
.intro-slideshow ul li {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #f1f0e9;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
	opacity: 0;
	filter: alpha(opacity=0);/*for ie8*/
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-ms-transition: all 2s ease-out;
	-o-transition: all 2s sease-out;
	transition: all 2s sease-out;
}
.intro-slideshow ul li.current {
	opacity: 1;
	filter: alpha(opacity=100);/*for ie8*/
}

/*Wrapper*/
#wrapper {
	width: 100%;
	position: relative;
	z-index: 1;
}

/*Header*/
header {
	width: 100%;
	background-color: #211a27;
	height: 90px;
	position: relative;
	z-index: 5;
}
.stiky.stuck {
	position: fixed;
	top: 0;
}
header.pinned {
	position: fixed;
	top: 0;
}
header.reveal {
	position: fixed;
	top: -90px;
	-webkit-transition: top 400ms ease;
	-moz-transition: top 400ms ease;
	-o-transition: top 400ms ease;
	transition: top 400ms ease;
}
header.reveal.visible {
	top: 0px;
}
header .container {
	padding: 0 !important;
}
.logo {
	display: block;
	width: 100%;
	max-width: 140px;
	height: 90px;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
	margin-left: -70px;
	/*Delete one of the two pics*/
	background: url(../img/logo/logo_yellow_img_small2.png) no-repeat;
}
.no-svg .logo {
	background: url(../img/logo/logo_yellow_img_small2.png) no-repeat;
}

/*Navigation*/
.navbar {
	width: 100%;
	padding-top: 30px;
}
.nav-left {
	float: left;
}
.nav-right {
	float: right !important;
}
.nav.navbar-nav li a {
	font: 1.3em 'Marmelad', Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 5px 0;
	border-bottom: 2px solid transparent;
	-webkit-transition: border-color 300ms ease;
	-moz-transition: border-color 300ms ease;
	-o-transition: border-color 300ms ease;
	transition: border-color 300ms ease;
}
.nav.navbar-nav li a:hover,
.nav.navbar-nav li.active a {
	background-color: transparent;
	border-color: #908d93;
	outline: none !important;
}
.nav.navbar-nav li a:active,
.nav.navbar-nav li a:focus {
	background-color: transparent !important;
	outline: none !important;
}
.nav.navbar-nav.nav-left li {
	margin-right: 55px;
}
.nav.navbar-nav.nav-right li {
	margin-left: 49px;
}
.nav.navbar-nav.nav-left li.last {
	margin: 0;
}
li.dropdown.open a {
	background: none !important;
	border-color: #908d93 !important;
}
.dropdown-menu {
	background-color: #c4bcbc;
	border: none;
	margin-top: -2px !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
	padding: 10px 0;
	text-align: left !important;
}
.open > .dropdown-menu {
	display: block;
}
.dropdown-menu > li {
	margin: 0 !important;
}
.dropdown-menu > li > a {
  display: block;
	width: 100%;
	font-size: 1.125em !important;
  padding: 15px 20px !important;
  color: #5e4950 !important;
	border: none !important;
	background-color: transparent;
	-webkit-transition: all 300ms ease !important;
	-moz-transition: all 300ms ease !important;
	-o-transition: all 300ms ease !important;
	transition: all 300ms ease !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li.active > a,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff !important;
  text-decoration: none;
  background-color: #523346 !important;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 5px 10px;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
	outline: none !important;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 27px;
  height: 3px;
  border-radius: 0px;
	background-color: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.navbar-toggle:hover .icon-bar {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/*About*/
.block {
	width: 100%;
	background-color: #f1f0e9;
}
.block .heading {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	padding: 22px 20px 25px 20px;
	position: relative;
	z-index: 3;
}
.block .heading h2 {
	color: #fff;
	font-size: 1.7em;
	margin-bottom: 0px;
}
.triangle {
	display: block;
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top-width: 13px;
	border-top-style: solid;
	border-top-color: inherit;
	bottom: -13px;
	left: 50%;
	margin-left: -13px;
	z-index: 3;
}
.about .heading {
	color: #393443;
	background-color: #393443;
}
.about-slider {
	position: relative;
	width: 100%;
	height: 570px;
	overflow: hidden;
}
.about-slider-inner {
	width: 100%;
	z-index: 1;
}
.info-bg {
	position: absolute;
	width: 100%;
	max-width: 450px;
	height: 570px;
	background-color: #fff;
	opacity: 0.9;
	filter: alpha(opacity=90);
	z-index: 2;
	top: 0;
}
.info {
	position: absolute;
	width: 100%;
	max-width: 450px;
	height: 570px;
	overflow-y: hidden;
	z-index: 2;
	top: 0;
	padding: 55px 0;
}
.pager {
	height: 12px;
	margin: 0 0 45px 0;
}
.pager a {
	display: inline-block;
	text-indent: -9999px !important;
	width: 12px;
	height: 12px;
	margin: 0 7px;
	border: 2px solid #807691;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.pager a.activeSlide {
	background-color: #807691;
}
.info-slider {
	width: 100%;
	max-width: 265px;
	margin: auto;
}
.ie8 .info-slider div {
	background: none !important;
}
.info-slider img {
	display: block;
	margin: 0 auto 35px auto;
}
.info-slider h3 {
	color: #807691;
	font-size:2.125em;
	text-align: center;
	margin: 35px 0;
}
.info-slider p {
	color: #4f4f4f;
}
.info-slider p i {
	font-size: 1.9em;
	margin-right: 18px;
	color: #807691;
}

/*Services Reservation*/
.reservation {
	position: relative;
	background: none;
}
.reservation .heading {
	color: #523346;
	background-color: #523346;
}
.overlay {
	position: absolute;
	width: 100%;
	height: auto;
	min-height: 100%;
	top: 0;
	left: 0;
	background-color: #211a27;
	opacity: 0.9;
	filter: alpha(opacity=90);
	z-index: 1;
}
.reservation-inner {
	position: relative;
	width: 100%;
	z-index: 2;
	padding: 65px 0 55px 0;
}
.serv-info {
	margin-top: 12px;
}
.reservation h3 {
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.reservation p {
	font-family: 'Marmelad', Arial, Helvetica, sans-serif;
	color: #fff;
	margin-bottom: 25px;
}
.reservation a {
	color: #f03063;
	text-decoration: underline;
}
.reservation a:hover {
	text-decoration: none;
}
.tab-navigation {
	width: 100%;
	background-color: #393443;
	position: relative;
	z-index:2;
	padding-top: 35px;
}
.nav-tabs {
	border: none;
}
.nav-tabs li {
	margin: 0px 5.7% 22px 0;
}
.nav-tabs li.last {
	margin-right: 0;
}
.nav-tabs li a {
	font-size: 1.25em;
	color: #fff;
	border: none;
	padding: 0;
	text-decoration: none;
}
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
	background: none !important;
	border: none !important;
	color: #fff !important;
	outline: none;
}
.nav-tabs li a .text {
	display: block;
	float: left;
	padding-bottom: 4px;
	border-bottom: 2px solid transparent;
	-webkit-transition: border-color 300ms ease;
	-moz-transition: border-color 300ms ease;
	-o-transition: border-color 300ms ease;
	transition: border-color 300ms ease;
}
.nav-tabs li.active a .text,
.nav-tabs li a:hover .text {
	border-color: #898588;
}
.nav-tabs li a .icon {
	display: block;
	float: left;
	width: 36px;
	height: 30px;
	background-image: url(../img/services/services-icons-sprite.svg);
	background-repeat: no-repeat;
	margin-right: 15px;
}
.no-svg .nav-tabs li a .icon {
	background-image: url(../img/services/services-icons-sprite.png);
	background-repeat: no-repeat;
}
.icon-key {
	background-position: 0px 0px;
}
.icon-plate {
	background-position: -36px 0px;
	margin-top: -2px;
}
.icon-pan {
	background-position: -72px 0px;
	margin-top: -2px;
}
.icon-hat {
	background-position: -108px 0px;
	margin-top: -2px;
}
.icon-truck {
	background-position: -144px 0px;
}

/*News*/
.news {
	background-color: #f1f0e9;
	border-bottom: 1px solid #d1cac8;
}
.news .heading {
	color: #523346;
	background-color: #523346;
}
.news h3 {
	color: #523346;
	font-size: 2.85em;
	margin-bottom: 18px;
}
.news h4 {
	font-family: 'Marmelad', Arial, Helvetica, sans-serif;
	color: #393443;
	font-size: 1.35em;
	margin-bottom: 16px;
}
.news p {
	color: #393443;
}
.news img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 40px auto 0 auto;
}
#news-carousel {
	padding: 90px 0 110px 0;
	margin-bottom: 35px;
}
.carousel-indicators {
	bottom: 0;
	z-index: 2;
}
.carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px !important;
  text-indent: -999px;
  cursor: pointer;
  background-color: none !important;
  border: 2px solid #807691;
  border-radius: 50%;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  background-color: #807691;
}

/*App Presentation*/
.app {
	padding: 70px 0 75px 0;
	background-color: #f1f0e9;
}
.app h2 {
	font-size: 2.125em;
	color: #807691;
	line-height: 1.3;
	margin-bottom: 15px;
}
.app p {
	color: #523346;
	margin-bottom: 20px;
}
.png {
	display: none !important;
}
.no-svg .png {
	display: block !important;
}
.no-svg .svg {
	display: none !important;
}
.appstore-btn,
.google-play-btn {
	display: block;
	width: 100%;
	height: 66px;
	margin-top: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: background-color 350ms ease;
	-moz-transition: background-color 350ms ease;
	-o-transition: background-color 350ms ease;
	transition: background-color 350ms ease;
	outline: none;
}
.appstore-btn {
	background: #523346 url(../img/app/appstore.svg) no-repeat center center;
	border-bottom: 2px solid #291923;
}
.no-svg .appstore-btn {
	background: #523346 url(../img/app/appstore.png) no-repeat center center;
}
.google-play-btn {
	background: #c89a52 url(../img/app/google-play.svg) no-repeat center center;
	border-bottom: 2px solid #644d29;
}
.no-svg .google-play-btn {
	background: #c89a52 url(../img/app/google-play.png) no-repeat center center;
}
.appstore-btn:hover {
	background-color: #412737;
}
.google-play-btn:hover {
	background-color: #af8544;
}
.appstore-btn:active,
.google-play-btn:active {
	border: none;
}
.phone {
	width: 215px;
	height: 391px;
	background: url(../img/app/phone.png) no-repeat;
	margin: 36px auto 0 auto;
	padding: 57px 0 0 29px;
}
.app-features {
	margin-top: 75px;
}
.ie9 .app-features {
	margin-top: 60px;
}
@-moz-document url-prefix() { /*Targeting Mozilla Browser*/
  .app-features {
     margin-top: 60px;
  }
}
.app-feature {
	margin-bottom: 55px;
}
.ie9 .app-feature p {
	text-align: left;
}
@-moz-document url-prefix() { /*Targeting Mozilla Browser*/ 
  .app-feature p {
     text-align: left;
  }
}
.app-feature img {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto 25px auto;
}

/*Forms*/
.form {
	width: 100%;
}
.form h4 {
	font-family: 'Marmelad', Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	color: #fff;
	margin-bottom: 30px;
}
.form p {
	margin: 10px 0 30px 0;
}
.form a {
	color: #f03063;
	text-decoration: underline;
}
.form a:hover {
	text-decoration: none;
}
.form-control {
	height: 36px;
  padding: 6px 12px;
  font-size: 1.125em;
  line-height: 1.428571429;
  color: #fff;
  vertical-align: middle;
  background-color: transparent;
	border: 2px solid #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: none !important;
          transition: none !important;
	-webkit-transition: border-color 300ms ease;
	-moz-transition: border-color 300ms ease;
	-o-transition: border-color 300ms ease;
	transition: border-color 300ms ease;
}
.form-control:focus {
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: transparent;
}
textarea.form-control {
  height: auto;
	min-height: 200px;
}
.form-group {
  margin-bottom: 24px;
}

/*Buttons*/
.btn {
  display: block;
	width: 100%;
  padding: 0;
  font-size: 1.2em;
  line-height: 1;
	height: 38px;
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: none !important;
          box-shadow:  none !important;
}
.btn-primary {
  color: #ffffff;
	background-color: #f03063;
	border-bottom: 2px solid #781831;
	-webkit-transition: background-color 350ms ease;
	-moz-transition: background-color 350ms ease;
	-o-transition: background-color 350ms ease;
	transition: background-color 350ms ease;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #ffffff;
	background-color: #d32452;
	border-bottom: 2px solid #781831;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	border-bottom: 2px solid #d32452;
	outline: none;
}

/*Custom Checkbox*/
.subscribe-chbx {
	margin-bottom: 30px;
}
.subscribe-chbx span {
	display: none;
	float: left;
	width: 12px;
	height: 12px;
	border: 2px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 4px 11px 0 0;
	cursor: pointer;
}
.subscribe-chbx span.checked {
	background-color: #fff;
}
.subscribe-chbx input[type=checkbox] {
	margin-right: 10px;
}
.subscribe-chbx label {
	display: block;
	float: left;
	font-size: 1em;
	font-weight: normal;
	color: #fff;
}

/*Datepicker*/
.ui-datepicker {
	width: 17.1em;
	padding: 20px 10px 25px 10px;
	display: none;
	margin-top: 2px;
	font-size: 1.1em;
	background-color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 12px;
	width: 12px;
	height: 13px;
	background: url(../img/forms/calendar-arrows.svg) no-repeat;
	cursor: pointer;
}
.no-svg .ui-datepicker .ui-datepicker-prev,
.no-svg .ui-datepicker .ui-datepicker-next {
	background: url(../img/forms/calendar-arrows.png) no-repeat;
}
.ui-datepicker .ui-datepicker-prev {
	background-position: 0px 0px;
	left: 12px;
}
.no-svg .ui-datepicker .ui-datepicker-prev {
	background-position: 0px 0px;
	left: 12px;
}
.ui-datepicker .ui-datepicker-next {
	background-position: -12px 0px;
	right: 12px;
}
.no-svg .ui-datepicker .ui-datepicker-next {
	background-position: -12px 0px;
	right: 12px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
	text-indent: -9999px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
	font-size: 1.125em;
	text-transform: uppercase;
	color: #393443;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	border: 0;
	text-transform: uppercase;
	color: #393443;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: center;
	text-decoration: none;
	color: #4c5246;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.ui-datepicker td a:hover {
	background-color: #393443;
	color: #fff;
}

/*Timepicker*/
.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 245px;
	width: 17.1em;
	padding: 0 15px;
	font-size: 1.1em;
	border-top: 15px solid #fff;
	border-bottom: 15px solid #fff;
	background-color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	outline: none;
	z-index: 10001;
	margin: 0;
}
.ui-timepicker-list {
	margin-left: -30px !important;
	list-style: none;
}
.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #4c5246;
	list-style: none;
	margin: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff;
	color: #4c5246;
}
li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #393443; color: #fff;
}
.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}

/*Contacts*/
.contacts {
	padding-bottom: 55px;
}
.contacts .heading {
	color: #393443;
	background-color: #393443;
}
#map_canvas {
	width: 100%;
	height: 420px;
	margin-bottom: 40px;
	border-bottom: 1px solid #cbc9b8;
}
.contacts h3 {
	color: #393443;
	font-size: 1.7em;
	margin-bottom: 30px;
}
.contacts h3 i {
	font-size: 0.9em;
	width: 28px;
}
.contacts h3 i.fa-mobile,
.contacts h3 i.fa-map-marker {
	font-size: 1em;
}
.contacts h4 {
	color: #393443;
	font: 1em 'PT Sans', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	padding-left: 29px;
	margin-bottom: 4px;
}
.contacts p {
	color: #393443;
	padding-left: 29px;
	margin-bottom: 15px;
}

/*Menu*/
.menu1,
.menu2 {
	padding: 90px 0 20px 0;
}
.menu1 {
	padding-bottom: 0px;
	background: none;
}
.menu1 .heading,
.menu2 .heading {
	color: #393443;
	background-color: #393443;
}
.panel-group {
	background: none;
}
.panel {
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid transparent;
	margin: 0px !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.panel-heading {
	display: block;
	width: 100%;
	text-decoration: none;
	position: relative;
	padding: 65px 0;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	margin: 0;
}
.panel-heading:focus,
.panel-heading:active {
	text-decoration: none;
}
.panel-heading .container {
	position: relative;
}
.panel-heading h3 {
	position: relative;
	font-size: 1.7em;
	color: #fff;
	z-index: 1;
}
.panel-heading .arrowDown {
	display: block;
	position: absolute;
	width: 45px;
	height: auto;
	min-height: 100%;
	top: 0;
	right: 40px;
	background: url(../img/recipes/arrowDown.svg) no-repeat center;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all 100ms ease;
	-moz-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	transition: all 100ms ease;
}
.no-svg .panel-heading .arrowDown {
	background: url(../img/recipes/arrowDown.png) no-repeat center;
}
.panel-heading.collapsed .arrowDown {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.panel-heading:hover {
	text-decoration: none;
}
.panel-body {
	border-top: none !important;
	background-color: #f1f0e9;
}
.panel-body .menu-block {
	padding: 35px 0 15px 0;
	margin-bottom: 0;
}
.menu2 .inner {
	padding-top: 65px;
}
.menu2 h3 {
	font-size: 1.7em;
	color: #393443;
	margin-bottom: 40px;
}
.menu-block {
	width: 100%;
	margin-bottom: 70px;
}
.menu-block .item {
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 1px solid #f03063;
	margin-bottom: 30px;
	position: relative;
}
.menu-block .item h4 {
	display: block;
	font-family: 'Marmelad', Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	color: #393443;
	margin-bottom: 10px;
	width: 65%;
}
.menu-block .item p {
	display: block;
	text-align: left;
	width: 65%;
}
.price {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	padding: 5px;
	background-color: #f03063;
	text-align: center;
	font-size: 1.4em;
	color: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*Recipes*/
.recipes, .recipes-single {
	background: none;
}
.recipes-inner {
	padding-top: 90px;
}
.recipes .heading {
	color: #393443;
	background-color: #393443;
}
.recipes a {
	display: block;
	width: 100%;
	height: auto;
	padding: 47px 0;
	position: relative;
	text-decoration: none;
	margin-bottom: 1px;
	color: #fff;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.recipes a .inner {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	position: relative;
	z-index: 1;
}
.recipes a .bg,
.recipes-single .header .bg,
.panel-heading .bg {
	position: absolute;
	width: 100%;
	height: auto;
	min-height: 100%;
	top: 0;
	left: 0;
	background-color: #211a27;
	z-index: 0;
	-moz-opacity: 0.7;
	opacity:0.7;
	filter: alpha(opacity=70);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.recipes a:hover .bg,
.panel-heading:hover .bg {
	background-color: #211a27;
	-moz-opacity: 0.9;
	opacity:0.9;
	filter: alpha(opacity=90);
}
.recipes a h3 {
	display: block;
	width: 70%;
	font-size: 1.7em;
	margin-bottom: 10px;
}
.recipes a p {
	display: block;
	width: 70%;
}
.arrowRight {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	height: auto;
	min-height: 100%;
	background: url(../img/recipes/arrowRight.svg) no-repeat center center;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.no-svg .arrowRight {
	background: url(../img/recipes/arrowRight.png) no-repeat center center;
}
.recipes a:hover .arrowRight {
	background-position: right center;
}

/*Dynamic Fullscreen Backgrounds*/
.fsbg div {
	position: fixed;
	width: 100%;
	height: auto;
	min-height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;	
	-moz-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 500ms ease;
	-moz-transition: opacity 500ms ease;
	-o-transition: opacity 500ms ease;
	transition: opacity 500ms ease;
	z-index: -100;
}
.fsbg div.visible {
	-moz-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=100);
}

/*Recipes Single*/
.recipes-single .header {
	width: 100%;
	height: 150px;
	position: relative;
}
.recipes-single .header .bg {
	-moz-opacity: 0.8;
	opacity:0.8;
	filter: alpha(opacity=80);
}
.recipes-single .header-inner {
	display: block;
	width: 100%;
	max-width: 1140px !important;
	margin: auto;
	position: relative;
}
.recipes-single .header-inner .heading {
	height: 150px;
	text-align: left;
	padding: 0;
}
.recipes-single .header-inner .heading h1 {
	display: block;
	color: #fff;
	width: 70%;
	font-size: 2.1em;
}
.recipes-single .header-inner .controls {
	position: absolute;
	width: 155px;
	height: 150px;
	top: 0;
	right: 0;
	z-index: 3;
}
.recipes-single .header-inner .controls a {
	display: block;
	float: right;
	width: 50px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	outline: none;
}
.recipes-single .header-inner .controls a.arrowDown {
	background-image: url(../img/recipes/arrowDown.svg);
}
.no-svg .recipes-single .header-inner .controls a.arrowDown {
	background-image: url(../img/recipes/arrowDown.png);
}
.recipes-single .header-inner .controls a.back-to-list {
	background-image: url(../img/recipes/back-to-list.svg);
	margin-left: 50px;
}
.no-svg .recipes-single .header-inner .controls a.back-to-list {
	background-image: url(../img/recipes/back-to-list.png);
	margin-left: 50px;
}
.recipes-single .inner {
	width: 100%;
	background-color: #f1f0e9;
	padding: 20px 0 80px 0;
}
.recipes-single h2 {
	color: #393443;
	font-size: 1.7em;
	text-align: left;
	margin-bottom: 27px;
	margin-top: 40px;
}
.recipes-single p {
	color: #393443;
	margin-bottom: 10px;
}
.recipes-single ul {
	list-style: none;
	color: #393443;
	font-size: 1em;
	padding-left: 0px !important;
	margin-left: 0px !important;
}
.recipes-single ul li {
	margin-bottom: 16px;
}

/*Reviews*/
.reviews {
	padding: 90px 0 70px 0;
}
.reviews .heading {
	color: #393443;
	background-color: #393443;
}
.reviews .inner {
	padding-top: 65px;
}
.reviews h3 {
	font-size: 1.7em;
	color: #393443;
	margin-bottom: 27px;
}
.reviews h4 {
	font-size: 1.3em;
	color: #393443;
	margin-bottom: 15px;
}
.reviews p {
	color: #393443;
	margin-bottom: 10px;
}
.review-form .form-control {
	border: 2px solid #393443;
	color: #393443;
}
.review-form input.hint { 
	color: rgba(57,52,67,0.5) !important;
}
.review-form ::-webkit-input-placeholder {
	color: rgba(57,52,67,0.5);
}
.review-form :-moz-placeholder {
	color: rgba(57,52,67,0.5);
}
.review-form ::-moz-placeholder {
	color: rgba(57,52,67,0.5);
}
.review-form :-ms-input-placeholder {  
	color: rgba(57,52,67,0.5);
}
.score {
	width: 100% !important;
	margin-bottom: 30px;
}
.score img {
	margin-right: 8px;
}
.review {
	margin-bottom: 50px;
}
.read-more {
	display: inline-block;
	color: #807691;
	font-size: 1.125em;
	text-decoration: underline;
}
.read-more:hover {
	text-decoration: none;
	color: #807691;
}
.review .tags {
	margin: 20px 0;
}
.review .tags .name {
	display: block;
	width: 70%;
	float: left;
	font-size: 1.3em;
	color: #393443;
}
.review .tags .date {
	display: block;
	width: 28%;
	float: right;
	font-size: 1em;
	color: #393443;
	text-align: right;
	margin-top: 4px;
}
.review .rating {
	width: 100%;
}
.review .rating span {
	display: inline-block;
	margin-right: 8px;
	width: 15px;
	height: 19px;
}
.review .rating span.off {
	background: url(../img/rating/off.png) no-repeat;
}
.review .rating span.on {
	background: url(../img/rating/on.png) no-repeat;
}

/*Pagination*/
.pagination {
	width: 100%;
}
.pagination a,
.back-btn {
	padding: 4px 10px;
	font-size: 1.125em;
	color: #393443;
	border: 2px solid #393443;
	text-decoration: none;
	margin-right: 7px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	outline: none;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: opacity 350ms ease;
	-moz-transition: opacity 350ms ease;
	-o-transition: opacity 350ms ease;
	transition: opacity 350ms ease;
}
.pagination a:hover,
.pagination a.active,
.back-btn:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	color: #393443;
	text-decoration: none;
}
.dots {
	margin-right: 7px;
}
.back-btn {
	display: inline-block;
	padding: 10px 30px 10px 15px;
	margin-bottom: 20px;
}
.back-btn i {
	margin-right: 10px;
}

/*Footer*/
footer {
	width: 100%;
	padding: 60px 0 40px 0;
	background-color: #807691;
}
.footer-logo {
	width: 133px;
	height: 120px;
	margin-top: 35px;
	background: url(../img/logo-big.svg) no-repeat;
}
.no-svg .footer-logo {
	background: url(../img/logo-big.png) no-repeat;
}
footer h3 {
	font-size: 1.3em;
	color: #fff;
	margin-bottom: 15px;
}
footer p {
	font-family: 'Marmelad', Arial, Helvetica, sans-serif;
	color: #fff;
}
.footer-contacts div.group {
	margin-bottom: 15px;
}
.footer-contacts i {
	display: block;
	text-align: center;
	width: 9%;
	float: left;
	color: #fff;
	font-size: 1.7em;
}
.footer-contacts i.fa-envelope {
	font-size: 1.3em;
}
.footer-contacts i.fa-clock-o {
	font-size: 1.5em;
}
.footer-contacts p {
	width: 81%;
	display: block;
	float: left;
	margin-top: 2px;
}
.subscribe-form {
	width: 100%;
	margin-bottom: 35px;
}
/*.subscribe-form .form-control {
	width: 57.33041575492341%;
	height: 33px;
	margin-right: 3.28227571115974%;
}
.subscribe-form .btn {
	width: 37%;
	height: 35px;
}*/
.copyright {
	margin-top: 50px;
}
.copyright a {
	color: #fff;
	text-decoration: underline;
}
.copyright a:hover {
	text-decoration: none;
}

/*Validation and Hints*/
input.error,
textarea.error {
	border-color: #f03063 !important;
}
.datepicker.error {
	background-position: right -36px;
}
.timepicker.error {
	background-position: right -36px;
}
label.error {
	display: none !important;
}
input.hint { 
	color: rgba(255,255,255,0.5) !important;
}

/*Animations*/
.animation {
	opacity: 0;
}
.ie9 .animation {
	opacity: 1;
}

/*Tooltips*/
.tooltip-inner {
	background-color: #211a27;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #211a27;
}

/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: #211a27;
	z-index:100;
}
#status{
	position: absolute;
	width: 140px;
	height: 166px;
	left: 50%;
	top: 50%;
	margin: -85px 0 0 -70px;
}
#status img {
	display:block;
	margin: 0 auto 30px auto;
}
#fountainG {
	position:relative;
	width:140px;
	height:16px;
}
.fountainG {
	position:absolute;
	top:0;
	background-color:#FFFFFF;
	width:16px;
	height:16px;
	-moz-animation-name:bounce_fountainG;
	-moz-animation-duration:1.2s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-transform:scale(.2);
	-moz-border-radius:12px;
	-webkit-animation-name:bounce_fountainG;
	-webkit-animation-duration:1.2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-transform:scale(.2);
	-webkit-border-radius:12px;
	-ms-animation-name:bounce_fountainG;
	-ms-animation-duration:1.2s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-transform:scale(.2);
	-ms-border-radius:12px;
	-o-animation-name:bounce_fountainG;
	-o-animation-duration:1.2s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-transform:scale(.2);
	-o-border-radius:12px;
	animation-name:bounce_fountainG;
	animation-duration:1.2s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	transform:scale(.2);
	border-radius:12px;
}
#fountainG_1{
	left:0;
	-moz-animation-delay:0.48s;
	-webkit-animation-delay:0.48s;
	-ms-animation-delay:0.48s;
	-o-animation-delay:0.48s;
	animation-delay:0.48s;
}
#fountainG_2{
	left:18px;
	-moz-animation-delay:0.6s;
	-webkit-animation-delay:0.6s;
	-ms-animation-delay:0.6s;
	-o-animation-delay:0.6s;
	animation-delay:0.6s;
}
#fountainG_3{
	left:35px;
	-moz-animation-delay:0.72s;
	-webkit-animation-delay:0.72s;
	-ms-animation-delay:0.72s;
	-o-animation-delay:0.72s;
	animation-delay:0.72s;
}
#fountainG_4{
	left:53px;
	-moz-animation-delay:0.84s;
	-webkit-animation-delay:0.84s;
	-ms-animation-delay:0.84s;
	-o-animation-delay:0.84s;
	animation-delay:0.84s;
}
#fountainG_5{
	left:70px;
	-moz-animation-delay:0.96s;
	-webkit-animation-delay:0.96s;
	-ms-animation-delay:0.96s;
	-o-animation-delay:0.96s;
	animation-delay:0.96s;
}
#fountainG_6{
	left:88px;
	-moz-animation-delay:1.08s;
	-webkit-animation-delay:1.08s;
	-ms-animation-delay:1.08s;
	-o-animation-delay:1.08s;
	animation-delay:1.08s;
}
#fountainG_7{
	left:105px;
	-moz-animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
	-ms-animation-delay:1.2s;
	-o-animation-delay:1.2s;
	animation-delay:1.2s;
}
#fountainG_8{
	left:123px;
	-moz-animation-delay:1.32s;
	-webkit-animation-delay:1.32s;
	-ms-animation-delay:1.32s;
	-o-animation-delay:1.32s;
	animation-delay:1.32s;
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
	background-color:#FFFFFF;
	}
	
	100%{
	-moz-transform:scale(.3);
	background-color:#211a27;
	}
}
@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
	background-color:#FFFFFF;
	}
	
	100%{
	-webkit-transform:scale(.3);
	background-color:#211a27;
	}
}
@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
	background-color:#FFFFFF;
	}
	
	100%{
	-ms-transform:scale(.3);
	background-color:#211a27;
	}
}
@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
	background-color:#FFFFFF;
	}
	
	100%{
	-o-transform:scale(.3);
	background-color:#211a27;
	}
}
@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
	background-color:#FFFFFF;
	}
	
	100%{
	transform:scale(.3);
	background-color:#211a27;
	}
} 


/*MEDIA QUERIES*/

/*Desktop*/
@media screen and (max-width: 1200px) {
	
	#navi-collapse.collapse.navbar-collapse { padding: 0 !important; }
	.nav.navbar-nav.nav-left li {	margin-right: 32px; }
	.nav.navbar-nav.nav-right li { margin-left: 26px;	}
	.recipes a .inner { max-width: 970px !important; }
	.recipes-single .header-inner { 
		max-width: 970px !important;
		padding: 0 15px;
	}
	.recipes-single .header-inner .controls { right: 15px; }
	
}

/*Tablet Landscape*/
@media screen and (max-width: 991px) {
	
	.intro-title {
		width: 280px;
		height: 280px;
		padding: 35px 18px 25px 18px;
		left: 50%;
		top: 60%;
		margin: -165px 0 0 -140px;
	}
	.intro-title h1 {
		font-size: 2.2em;
		text-align: center;
		line-height: 1.4;
	}
	.social-bar {
		display: table;
		margin: auto;
		text-align:center;
	}
	.logo {
		width: 140px;
		left: 20px;
		margin-left: 0px;
	}
	header .container { width: 100%; }
	.stiky {
		position: fixed;
		top: 0;
	}
	.info-bg, .info { max-width: 100%; }
	.navbar-header {
		float: none;
		width: 100%;
	}
	.navbar-toggle { display: block; }
	.navbar-collapse {
			border-top: 1px solid transparent;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse { display: none!important; }
	.navbar-nav {
			float: none!important;
			margin: 7.5px -15px;
	}
	.navbar-nav>li { float: none; }
	.navbar-nav>li>a {
			padding-top: 10px;
			padding-bottom: 10px;
	}
	.navbar-collapse {
		position: absolute;
		max-height: 300px;
		width: 100%;
		left: 0;
		right: 0;
		top: 89px;
		background-color: #2d2935;
		border-top: none;
		box-shadow: none;
	}
	.navbar-collapse.collapsing {
		border-top: 15px solid #2d2935;
		border-bottom: 15px solid #2d2935;
	}
	.navbar-collapse.in { 
		border-top: 15px solid #2d2935;
		border-bottom: 15px solid #2d2935;
		overflow-y: auto;
	}
	.nav-left, .nav-right { float: none !important; }
	.nav.navbar-nav.nav-left li,
	.nav.navbar-nav.nav-right li { margin: 0px; }
	.nav.navbar-nav li a {
		padding: 10px 20px;
		margin-bottom: 1px;
		border: none;
		background-color: transparent;
		-webkit-transition: all 300ms ease !important;
		-moz-transition: all 300ms ease !important;
		-o-transition: all 300ms ease !important;
		transition: all 300ms ease !important;
	}
	.nav.navbar-nav li a:hover,
	.nav.navbar-nav li.active a {
		background-color: #523346 !important;
	}
	.dropdown-menu {
		position: relative;
		float: none;
		height: 0;
		overflow: hidden;
		padding: 0;
		background-color: transparent;
	}
	.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
		height: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a {
		color: #fff !important;
		padding-left: 30px !important; 
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background: none !important;
  }
	li.dropdown.active.open > ul.dropdown-menu li a {
    background-color: transparent !important;
	}
	li.dropdown.active.open > ul.dropdown-menu li a:hover,
	li.dropdown.open > ul.dropdown-menu li a:hover {
    opacity: 0.6;
		filter: alpha(opacity=60);
	}
	#navi-collapse ul li ul li  a {
		-webkit-transition: background-color 300ms ease !important;
		-moz-transition: background-color 300ms ease !important;
		-o-transition: background-color 300ms ease !important;
		transition: background-color 300ms ease !important;
	}
	.reservation-inner { padding: 50px 0 50px 0; }
	.reservation h3 { margin-top: 30px; }
	#news-carousel { padding: 60px 0 80px 0; }
	.app { padding: 60px 0 50px 0; }
	.news h3, .news h4, .app h2, .app p { text-align: center; }
	.appstore-btn, .google-play-btn { margin: 15px 0; }
	.phone { margin-top: 25px; }
	.app-features { margin-top: 45px; }
	.contacts, .contacts p { text-align: center; }
	.contacts h3 { margin: 40px 0 20px 0; }
	#map_canvas { margin-bottom: 10px; }
	.recipes a .inner { padding: 0 30px; }
	.recipes-single .header-inner { 
		max-width: 720px !important;
		padding: 0;
	}
	.recipes-single .header-inner .controls { right: 0px; }
	.footer-logo { margin: 0 auto 30px auto; }
	footer h3, footer p { text-align: center; }
	.footer-contacts i {
		width: 100%;
		float: none;
		margin: auto;
		text-align: center;
		margin-bottom: 10px;
	}
	.footer-contacts p {
		float: none;
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
	}	
	.footer-contacts .group.last { margin-bottom: 40px; }
	.subscribe-form { margin-bottom: 20px; }
	footer .social-bar {
		display: table;
		margin: auto;
		text-align:center;
	}
	.subscribe-form input[type=email] {
		width: 100%;
		margin-right: 0;
		text-align: center;
	}
	.subscribe-form input[type=submit] { width: 100%;	}
	#big-video-wrap, .intro-slideshow, .intro-slideshow ul li, .intro-title { position: absolute; }

/*Tablet Portrait*/
@media screen and (max-width: 768px) {

	.recipes a h3, .recipes a p { width: 80%; }
	.recipes-single .header-inner { 
		max-width: 720px !important;
		padding: 0 15px;
	}
	.recipes-single .header-inner .controls { right: 15px; }
	.recipes-single .header-inner .controls a.arrowDown,
	.no-svg .recipes-single .header-inner .controls a.arrowDown { display: none; }
	.recipes-single .header-inner .heading h1 { width: 80%;	}
	.pagination { margin-bottom: 50px; }
	.back-btn { margin-bottom: 50px; }
	
}

/*Phone*/
@media screen and (max-width: 561px) {
	
	.recipes a h3, .recipes a p { width: 85%; }
	
}
