<p id="notice"><%= notice %></p>


<div class="page-header">  
 <div class="row-fluid">
<div class="span12 text-center"><h3>Listing Products</h3></div>
</div>
</div>

<div class="table-responsive">          
<table class="table table-hover">
  <thead>
    <tr class="info">
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
         <!-- for now mage is hardcoded , fix it to load auto -->
         <td><%= image_tag("5250.png", :size => "50x50") %></td>
        <!-- <td><%= image_tag(product.image_url, :size => "50x50") %></td> -->
        <td><%= number_to_currency(product.price) %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div> <!-- close table responsive -->
<br>

<%= link_to 'New Product', new_product_path, class: "btn btn-success" %>

