
<table class="table" id="example">
  <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>`
            </tr>
        </tfoot>


 <tbody>
 <tr class="info">

    <td><%= line_item.quantity %></td> 
    <td><%= line_item.product.title  %></td>
    <td><%= number_to_currency(line_item.total_price) %></td>
 </tr>    

</tbody>

</table>


