<!--<h1>Store#index</h1>
<p>Find me in app/views/store/index.html.erb</p>   -->


<div class="fluid-container">



<% if notice  %>

<p id="notice"><%= notice %></p>

<% end %>
 
 <!-- removed header-->   
<!-- <h1><center>e-commerce platform</center></h1> --> 
<div class="jumptron"> 

<div class="table-responsive">          
<table class="table">
  <thead>
    <tr class="active">
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

     <% @products.each do |product| %>
          <tr class="info">
       <!-- double check if this is really working . -->
       <td><%= image_tag(product.image_url) %></td>
       <td><%= product.title %></td>
       <td><%= sanitize(product.description) %></td>
       <td><%= number_to_currency(product.price) %></td>
       <td><%= button_to 'Add to Cart' , line_items_path(product_id: product) %></td>
   </tr>

  <% end %>

  </tbody>
</table>

</div> <!-- close table responsive -->

</div>
</div> <!-- close container-->

