<div class="footer">
<div class="app-footer">
<ul  class="app-footer-links">

 <li>© <%=(Time.strptime("1108095913", "%m%d%H%M%y").strftime('%m/%d/%y %H:%M'))%> <span> shoping cart -- e store </span></li>	

</ul>
</div>
</div>	
