<div class="page-header">
<div class="row-fluid text-center">

<div class="title">do something about me</div>

</div>
</div>

<nav class="navbar" role="navigation">
	<%= render 'layouts/navigation' %>
</nav>