<div class="nav">

<ol class="breadcrumb text-center" style="margin-bottom: 5px;">
  <li><a href="#" title="home"><i class ="fa-user fa-fw"></i><span></span>Home</a></li>
  <li><a href="#" title="home"><i class ="fa-user fa-fw"></i><span></span>Home</a></li>
  <li><a href="#" title="home"><i class ="fa-user fa-fw"></i><span></span>Home</a></li>
  <li><a href="#" title="home"><i class ="fa-user fa-fw"></i><span></span>Home</a></li>
  <li><a href="#" title="home"><i class ="fa-user fa-fw"></i><span></span>Home</a></li>
  <li><a href="#" title="home"><i class ="fa-user fa-fw"></i><span></span>Home</a></li>
  <li><a href="#">Library</a></li>

  <!-- <li class="active">Data</li> -->
</ol>
</div>