<!DOCTYPE html>

<html>
<head>

<title>Depot2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
<%=  render  partial: 'layouts/header' %>
<%= render @cart %>
<%= yield %>
<%= render partial: 'layouts/footer'%>
</div>
</body>
</html>
